html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.hub-container {
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3em;
  min-height: 100vh; }

.link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  background-color: #e1e1e1;
  width: 100%;
  gap: 0.2em;
  font-size: 21px;
  font-weight: 600;
  padding: 4px 8px; }
  .link-button:hover {
    background-color: #646a72; }

.link-list-container {
  text-decoration: none;
  color: #0d1117;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-right: 15px; }

.link-list {
  min-width: 180px;
  margin-left: 15px;
  border-right: 1px solid #e1e1e1; }
  .link-list h1 {
    margin: 0;
    margin-top: 10px; }
  .link-list div button {
    margin-top: 20px; }

h4 {
  margin: 0;
  padding-top: 10px; }

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); }

.note.new {
  background-color: #67d7cc; }

textarea {
  border: none;
  resize: none;
  background-color: #67d7cc; }
  textarea:focus {
    outline: none; }

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.2) 1px 3px 6px; }
  .save:hover {
    cursor: pointer;
    background-color: #646a72; }

.notes-container {
  width: 100%;
  max-width: 1620px;
  padding: 0 15px 0 15px;
  margin-right: 50px; }

.note {
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s; }
  .note:hover {
    -webkit-transform: scale(1.02);
            transform: scale(1.02); }

.note-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.delete-icon {
  cursor: pointer; }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e1e1e1;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 1.5em;
  margin-top: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px; }
  .search button.save {
    background-color: #1c1c1e;
    color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px; }
    .search button.save:hover {
      background-color: #646a72; }
  .search input {
    width: 100%;
    border: none;
    background-color: #e1e1e1; }
    .search input:focus {
      outline: none; }

.search.weather-search {
  max-width: 426px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.dark-mode {
  background-color: #131215; }
  .dark-mode h1,
  .dark-mode h2,
  .dark-mode h3,
  .dark-mode h4 {
    color: white; }
  .dark-mode .weather-container {
    background-color: #1c1c1e;
    color: white; }
  .dark-mode .weather-footer p {
    color: #58585a; }
  .dark-mode .daily-forecast-container {
    background-color: #1c1c1e; }
  .dark-mode .daily-forecast-item h4 {
    color: white; }
  .dark-mode .forecast-description-container div span {
    color: #58585a; }
  .dark-mode .highlights-container {
    background-color: #1c1c1e; }
  .dark-mode .aqi-header h4 {
    color: #58585a; }
  .dark-mode .highlights-info-container {
    background-color: #1a191c; }
  .dark-mode .highlights-info-small div {
    background-color: #1a191c; }
  .dark-mode .air_icon {
    color: #d3edfd; }
  .dark-mode .highlights-info-small-container h4 {
    color: #58585a; }
  .dark-mode .todayat-item {
    background-color: #1c1c1e; }
    .dark-mode .todayat-item h5 {
      color: #58585a; }
  .dark-mode .timer-settings-bar {
    background-color: #1c1c1e;
    color: white; }
    .dark-mode .timer-settings-bar:hover.timer-settings-bar .timer-settings-img {
      color: black; }
  .dark-mode .timer-modal-box {
    color: white;
    background-color: #1c1c1e; }

.weather-container {
  background-color: #b4ebff;
  color: black;
  padding: 0.7rem 1.5rem 1rem 1rem;
  border-radius: 20px;
  min-width: 400px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px; }
  .weather-container span {
    font-size: 18px; }

.weather-description {
  margin: 10px 0px 20px;
  text-transform: capitalize; }

.weather-container-items hr {
  color: #58585a; }

.weather-temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 80px; }
  .weather-temperature .icon-small {
    width: 100px;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    position: relative; }
  .weather-temperature h1 {
    padding-top: 0;
    font-size: 45px; }

.icon-small {
  width: 55px; }

.weather-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  gap: 0.4em; }
  .weather-footer p {
    margin: 0;
    color: #404044; }

.currentLocation {
  background-color: #b4ebff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px; }
  .currentLocation:hover {
    background-color: lightgreen; }

.weather-search-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em; }

.daily-forecast-container {
  background-color: #b4ebff;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
  padding: 0em 0.8em 0em 0.4em; }

.daily-forecast-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7em 0em 0.7em 0em; }
  .daily-forecast-item h4 {
    color: black;
    padding: 0;
    padding-left: 7px; }
  .daily-forecast-item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.forecast-description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%; }

.forecast-description-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px; }
  .forecast-description-container div:nth-child(1) {
    gap: 0.3em; }
  .forecast-description-container div:nth-child(2) {
    width: 110px; }
  .forecast-description-container div span {
    color: #404044; }

.weather-main-container {
  width: 100%;
  max-width: 1620px; }
  .weather-main-container .header {
    max-width: 430px; }

.weather-widgets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em; }
  .weather-widgets-container .highlight {
    width: 100%;
    max-width: 1120px;
    margin-right: 50px; }

.highlights-container {
  background-color: #b4ebff;
  padding: 0.7rem 0.7rem 1.5rem 0.7rem;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
  width: 100%; }
  .highlights-container h2 {
    margin: 0; }

.highlights-info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 20px 0px 20px; }
  .highlights-info-main h4 {
    margin: 0;
    padding: 0; }

.highlights-info-container {
  min-width: 490px;
  min-height: 160px;
  background-color: #5cbdf7cf;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
  border-radius: 10px; }

.aqi-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.aqi-info {
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .aqi-info div {
    min-width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .aqi-info div h5 {
      color: #404044;
      margin: 0; }

.aqi-status {
  border-radius: 20px;
  font-size: 14px;
  font-weight: 700;
  padding: 0.35em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 3px; }

.highlights-info-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 0 20px 0px 20px; }

.highlights-info-small-container {
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  min-width: 220px;
  min-height: 120px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 10px;
  background-color: #5cbdf7cf;
  border-radius: 10px; }
  .highlights-info-small-container h1 {
    padding: 0; }
  .highlights-info-small-container h4 {
    padding: 0; }
  .highlights-info-small-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    padding-right: 15px; }
  .highlights-info-small-container span {
    font-size: 0.8em; }

.suntime-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3em; }

.suntime-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .suntime-info-item h1 {
    margin: 0; }
  .suntime-info-item h5 {
    margin: 0;
    color: #404044; }

.air_icon {
  color: white; }

.todayat-main {
  padding: 0.7rem 0rem 0rem 0rem; }
  .todayat-main h4 {
    padding: 0; }

.todayat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8em;
  padding: 20px 0px; }

.todayat-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.todayat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #b4ebff;
  padding: 0.75em 1.7em;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px; }
  .todayat-item h4 {
    padding: 0; }
  .todayat-item h5 {
    margin: 0; }

.todayat-media-small {
  max-width: 1045px;
  display: none; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  min-height: 50px;
  max-width: 1000px; }
  .copyright a {
    text-decoration: none;
    color: black; }
  .copyright h4 {
    margin: 0;
    font-weight: 400; }

.timer-main {
  width: 100%;
  max-width: 1620px; }

.timer-link-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .timer-link-button div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.timer-settings-bar {
  margin-top: 0;
  gap: 0.5em;
  height: 30px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  cursor: pointer; }
  .timer-settings-bar .timer-settings-text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .timer-settings-bar .timer-settings-img {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .timer-settings-bar:hover {
    background-color: #67d7cc;
    width: 190px; }
    .timer-settings-bar:hover .timer-settings-img {
      -webkit-transform: translateX(35px) rotate(60deg);
              transform: translateX(35px) rotate(60deg); }
    .timer-settings-bar:hover .timer-settings-text {
      visibility: hidden;
      opacity: 0; }

.timer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ba4949;
  border-radius: 15px;
  padding: 0.5em 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
  width: 95%;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .timer-box h1 {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin: 0;
    margin: 0.1em 0em 0.2em;
    color: white;
    font-size: 45px; }
  .timer-box .timer-starter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3px 40px;
    color: black;
    border-radius: 10px;
    background-color: #fef68a;
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
    cursor: pointer; }
    .timer-box .timer-starter:hover {
      background-color: #67d7cc; }

.timer-modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  margin: 0 auto;
  -webkit-transition: opacity 0.1s, visibility 0.2s linear;
  transition: opacity 0.1s, visibility 0.2s linear;
  position: absolute;
  left: 210px;
  width: 400px;
  height: 600px;
  background-color: #e1e1e1;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .timer-modal-box h2 {
    margin: 10px 0px 0px 0px; }
    .timer-modal-box h2 .dark-mode {
      color: black; }
  .timer-modal-box hr {
    width: 95%; }

.timer-modal-box-show {
  opacity: 1;
  visibility: visible; }

.timer-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  gap: 1em; }
  .timer-settings-container input {
    width: 80px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    text-indent: 0.6em; }

.timer-modes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 13px;
  margin-bottom: 6px;
  gap: 0.4em; }
  .timer-modes-container button {
    -webkit-transition: all ease-in-out 0.15s;
    transition: all ease-in-out 0.15s;
    background-color: white;
    padding: 7px 6px;
    border: 1px solid transparent;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 4px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer; }
    .timer-modes-container button:hover {
      background-color: #67d7cc; }

@media screen and (max-width: 1870px) {
  .highlights-info-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em; }

  .highlights-info-container {
    min-width: 80%; }

  .highlights-container {
    max-width: 1000px; }

  .highlights-info-small-container {
    min-width: 200px; } }
@media screen and (max-width: 1830px) {
  .highlights-info-small {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1em; } }
@media screen and (max-width: 1720px) {
  .todayat-media-standart {
    display: none; }

  .todayat-media-small {
    display: block; } }
@media screen and (max-width: 1440px) {
  .highlights-info-container {
    min-width: 94%; }

  .highlights-info-small {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1em; }

  .highlights-info-small-container {
    min-width: 250px; } }
